#thinker {
  width: 500px;
  height: 300px;
  /* padding: 30px; */
  border-radius: 10%;
  border: solid 5px rgba(252, 252, 255, 0.897);
}

#whitebox {
  width: 250px;
  height: 150px;
  background-color: rgb(41, 94, 179);
  border-radius: 20%;
  text-align: center;
  padding: 50px;
  font-size: 1.1rem;
  border: solid 5px rgba(252, 252, 255, 0.897);
}
#whitebox2 {
  width: 100px;
  height: 100px;
  background-color: rgb(41, 94, 179);
  border-radius: 50%;
  margin-left: 150px;
  margin-top: 10px;
  border: solid 3px rgba(252, 252, 255, 0.897);
}

#whitebox3 {
  width: 30px;
  height: 30px;
  background-color: rgb(41, 94, 179);
  border-radius: 50%;
  margin-left: 250px;
  margin-bottom: 5px;
  border: solid 2px rgba(252, 252, 255, 0.897);
}
